@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
  background-color: #000000;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fh52u {
  background-color: #121211;
}

.fs521 {
  color: #949494;
}

.gwe62 {
  background-color: #1a1a1a;
}

.g327 {
  border-color: #302f30;
}
